{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <!--最上面固定导航的部分-->
    {{>theme_boost/header}}

    <div id="page" class="container-fluid">
        <!--这一句输出最上面的导航部分-->
       {{{ output.full_header }}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-xs-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
                    <div class="card card-block">
                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                    </div>
                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="hidden-print">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{> theme_boost/nav-drawer }}
</div>
<footer id="page-footer" class="p-y-1 bg-inverse">
    <div class="container">
        <div class="row">
            <div id="course-footer" class="col-xs-6" style="font-size: 1.5em;">
                <div class="row">
                    <div class="col-xs-2">
                      <img width="100%" src="https://picabstract-preview-ftn.weiyun.com:8443/ftn_pic_abs_v2/4bee27a6da55dcc3fedae44c06ba59ecadfc0c8616ca7a00be93aa900f308e69b6a5303333c2f0623296b551f4251cc4?pictype=scale&from=30013&version=3.3.3.3&uin=1062666905&fname=%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202018-04-10%20%E4%B8%8B%E5%8D%887.50.24.png&size=750">
                    </div>

                    <div class="col-xs-10">
                        <div class="row">HNUST学习云平台</div>
                        <div class="row" style="font-size: 0.5em;color: #999;">唯实惟新&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至诚致志</div>
                    </div>
                </div>
            </div>


            <div class="col-xs-3" style="color: #999;">
                <div class="row">
                    <div class="col-xs-6" style="font-size: 1.2em;">
                        关于我们
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" style="font-size: 0.5em;">联系我们</div>
                    <div class="col-xs-6" style="font-size: 0.5em;">意见反馈</div>
                </div>
                <div class="row">
                    <div class="col-xs-6" style="font-size: 0.5em;">常见问题</div>
                    <div class="col-xs-6" style="font-size: 0.5em;">关于我们</div>
                </div>
            </div>
            <div class="col-xs-3" style="color: #999;">
                <div class="row">
                    <div class="col-xs-6" style="font-size: 1.2em;">
                        友情链接
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="font-size: 0.5em;">
                        学生使用手册
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="font-size: 0.5em;">
                        教师使用手册
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="font-size: 0.5em;">
                        管理平台手册
                    </div>
                </div>
            </div>
        </div>

        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}

    </div>
</footer>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
