{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex">

    <div class="container-fluid navbar-nav">

        <div data-region="drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn pull-xs-left m-r-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>

      <!--显示短名称的部分即HNSUT MOODlE class="navbar-brand"-->
        <a href="{{{ config.wwwroot }}}" class="{{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
                hidden-sm-down
            {{/ output.should_display_navbar_logo }}
                "
                style="float: left;margin-right: 1rem;"
                >
            <!--{{ output.should_display_navbar_logo }}-->
                <span class="logo hidden-xs-down">
                    <img src="https://picabstract-preview-ftn.weiyun.com:8443/ftn_pic_abs_v2/4bee27a6da55dcc3fedae44c06ba59ecadfc0c8616ca7a00be93aa900f308e69b6a5303333c2f0623296b551f4251cc4?pictype=scale&from=30013&version=3.3.3.3&uin=1062666905&fname=%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202018-04-10%20%E4%B8%8B%E5%8D%887.50.24.png&size=750" alt="{{sitename}}">
                </span>
            <!--{{ output.should_display_navbar_logo }}-->
            
             <!--<span class="site-name hidden-sm-down">{{{ sitename }}}</span>-->
             <span class="hidden-sm-down" style="font-size:10px;">
                HNUST
                <span style="font-size:15px;">学习云平台</span>
             </span>
        </a>

        <!-- user_menu -->
        {{{ output.user_menu }}}

        <!-- navbar_plugin_output -->
        {{{ output.navbar_plugin_output }}}

        <!-- search_box -->
        <span class="hidden-md-down">
        {{{ output.search_box }}}
        </span>

        <nav class="nav navbar-nav hidden-md-down">
            <!-- custom_menu -->
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </nav>
    </div>
</header>

